@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;800&display=swap');
*  {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.home-container {
    display: flex;
    align-items: stretch;
    background-color: rgb(10, 10, 10);
}

.hms-bg {
    background:linear-gradient(-45deg, #2ae88a 0%, #08aeea 100%) border-box;
}

#sidebar {
    position: fixed;
    width: 260px;
    height: 100vh;
    top: 0;
    left: 0;
    transition: all 300ms linear;   
}

#sidebar .sidebar-header {
    margin: 0;
    padding-left: 32px;
    padding-right: 32px;
    display: flex;
    align-items: center;
    position: fixed;
}

#sidebar .sidebar-header img{
    width: 185px;
    height: 120px;
    object-fit: cover;
    display: block;
    /* #01ab40 */
}

#sidebar .sidebar-header .stet-logo{
    display: none;
    width: 50px;
    height: auto;
}


#sidebar.close .nav-links li i{
    font-size: 20px;
}

#sidebar.close .sidebar-header {
    margin: 0;
    padding: 15px 5px 0 5px;
    transition: all 0.4s ease;
}

#sidebar.close .sidebar-header .hms-logo{
    display: none;
}

#sidebar.close .sidebar-header .stet-logo{
    display: block;
}

#sidebar.close .nav-links li{
    transform: translateY(100px) ;
}

#sidebar .nav-links {
    height: 100%;
    padding-left: 0px;
    overflow: auto;
}

#sidebar .nav-links {
    overflow: visible;
}

#sidebar .nav-links::-webkit-scrollbar{
    display: none;
}

#sidebar .nav-links li{
    position: relative;
    list-style: none;
    transform: translateY(120px) ;
    transition: all 0.4s ease;
}

#sidebar .nav-links li:hover{
    background: #2e2d2d;
}


/*  FOR DROP DOWN SUB MENU
    display: flex;
    align-items: center;
    justify-content: space-between;
} */

#sidebar .nav-links li i{
    height: 50px;
    min-width: 60px;
    text-align: center;
    line-height: 50px;
    font-size: 20px;
    color: #ffffff;
    padding: 0px;
    transition: all 0.3s ease;
    cursor: pointer;
}


#sidebar .nav-links li a{
    text-decoration: none;
    display: flex;
    align-items: center;
}

#sidebar .nav-links li a .link-name {
    font-size: 14px;
    font-weight: 400;
    color: #ffffff;
}

/* #sidebar.active{
    min-width: 80px;
    max-width: 80px;
} */

#sidebar.active ul li a{
    display: flex;
}

#sidebar li a.active{
    background: #415e5e;    
}


#sidebar li a:active{
    background: #415e5e;
    text-decoration: none;
    transition: all 0.3s;
    
}

/* TOP NAVIGATION */
.home-section {
    position: relative;
    background: rgb(224, 248, 255);
    left: 260px;
    width: calc(100% - 260px);
    height: 100vh;
    transition: all 0.5s ease;
}

#sidebar.close ~ .home-section {
    left: 60px;
    width: calc(100% - 60px);
}

.home-section .navbar {
    /* height: 40px;
    display: flex;
    align-items: center;
    background: #ffffff;
     */
    justify-content: space-between;
    padding: 20px 0px;
    background: #fff;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    position: relative;

}

.home-section .navbar .container-fluid {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.home-section .navbar .topnav-link{
    padding-left: 0px;
    margin-bottom: 0px;
    list-style: none;
    display: flex;
    

}

.home-section .navbar .topnav-link .fa-bars{
    color: #ffffff;
    font-size: 17px;
    background: #5555;
    padding: 10px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.home-section .navbar .fa-bars{
    margin: 0 0px;
    cursor: pointer;
}

.home-section .navbar .account {
    list-style: none;
}

a, a:hover, a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.dropdown-menu.profile {
    padding: 0;
    right: 20px;
    left: auto;
    min-width: 200px;
}   

.dropdown-menu.profile h5 {
    padding: 15px;
    background: #555;
    color: #fff;
    font-weight: lighter;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.home-section .navbar .account .img-profile{
    border-radius: 50%;
    border: 2px solid #f7f7f7;
}

.home-section .navbar .account .dropdown-menu .dropdown-item i {
    margin-right: 10px;
}

.home-section .navbar .account .dropdown-menu .dropdown-item .fa-power-off {
    color: red;
}




